<style>
  #shopify-section-{{ section.id }} .section-logo-carousel {
    overflow: hidden;
    padding: 25px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }

  #shopify-section-{{ section.id }} .section-logo-carousel:before,
  #shopify-section-{{ section.id }} .section-logo-carousel:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  #shopify-section-{{ section.id }} .section-logo-carousel:before {
    left: 0;
  }

  #shopify-section-{{ section.id }} .section-logo-carousel:after {
    right: 0;
  }

  /* 
  uncomment for stop-on-hover
  #shopify-section-{{ section.id }} .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  */

  #shopify-section-{{ section.id }} .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }

  #shopify-section-{{ section.id }} .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }

  @media (min-width: 551px) {
    #shopify-section-{{ section.id }} .logos-slide {
      display: flex;
      justify-content: space-evenly;
    }
  }

  @media (max-width: 550px) {
    @keyframes slide {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
  }
</style>

<section class="shopify-section section section-logo-carousel">
  <div class="logos-slide">
  {% for block in section.blocks %}
    {%- if block.settings.img != blank -%}
      {%- assign img_height = block.settings.img.width | divided_by: block.settings.img.aspect_ratio -%}
  
      {{ block.settings.img | image_url: width: 1000 | image_tag:
        height: img_height,
        width: block.settings.img.width,
        loading: 'lazy'
      }}
    {%- endif -%}
  {% endfor %}
  </div>
</section>

<script>
if (matchMedia('(max-width: 550px)').matches) {
  var copy = document.querySelector(".logos-slide").cloneNode(true);
  document.querySelector(".section-logo-carousel").appendChild(copy);
}
</script>


{% schema %}
{
  "name": "Logo carousel",
  "presets": [
  {
   "name":"Logo carousel"
  }
  ],
  "settings": [
		{
      "type": "range",
      "id": "padding-top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "default": 0
    }
  ],
  "blocks": [
     {
       "name": "logo",
       "type": "logo",
       "settings": [
         {
           "type": "image_picker",
           "id": "img",
           "label": "Logo"
         }
       ]
     }
   ]
}
{% endschema %}