<section id="shopify-section-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824" class="shopify-section mw-58"><link href="//s1o3wq7mjxqlnwyo-83776799012.shopifypreview.com/cdn/shop/t/8/assets/component-accordion.css?v=18637288360933037841698094434" rel="stylesheet" type="text/css" media="all">

<link href="//s1o3wq7mjxqlnwyo-83776799012.shopifypreview.com/cdn/shop/t/8/assets/collapsible-content.css?v=106254775568716911291698094434" rel="stylesheet" type="text/css" media="all">
<script src="//s1o3wq7mjxqlnwyo-83776799012.shopifypreview.com/cdn/shop/t/8/assets/details-accordion.js?v=170558748681591396671698094434" defer="defer"></script><style data-shopify="">.section-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824-padding {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824-padding {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }#shopify-section-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824 {--title-gap: -1.8rem;
      --title-indent: 0.8rem;
      --title-back-size: 4rem;
      --title-back-letter-spacing: -1.6px;}

  @media screen and (min-width: 990px) {
    #shopify-section-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824 {--title-gap: -2.2rem;
        --title-indent: 1rem;
        --title-back-size: 4.8rem;
        --title-back-letter-spacing: -2.4px;}
  }

  @media screen and (min-width: 1200px) {
    #shopify-section-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824 {--title-gap: -2.6rem;
        --title-indent: 1.2rem;
        --title-back-size: 5.4rem;
        --title-back-letter-spacing: -2.7px;}
  }</style>


  <div class="color-background-1 gradient">
  <div class="collapsible-content collapsible-row-layout isolate page-width">
    <div class="collapsible-content__wrapper section-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824-padding">
      <div class="collapsible-content__header left">
		
      <div class="grid grid--1-col collapsible-content__grid collapsible-content__grid--reverse">
        <div class="grid__item">
            
  {% for variant in product.variants %}
    <div
       class="variant__description"
       data-variant-id="{{variant.id}}"
       {% if product.selected_or_first_available_variant.id == variant.id %}
         style="display: block;"
       {% endif %}>
         
<details-accordion class="accordion db collapsible-content__item">
              <details class="details-metafield" id="Details-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824-collapsible_row-3-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824">
                <summary class="summary-accordion summary-accordion--has-hover flex justify-space-between align-center por" role="button" aria-expanded="false" aria-controls="CollapsibleAccordion-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824-collapsible_row-3-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824">
                  <div class="summary__title flex align-center flex-grow-1">
                    
                    <h2 class="h6 accordion__title font-heading-bold margin0">
                      FIT GUIDE
                    </h2>
                  </div>
             <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon-caret light">
                    <path d="M12.6667 6L8 10.6667L3.33333 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </summary>
                <div class="accordion__content accordion__content--no-icon accordion__content--empty" id="CollapsibleAccordion-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824-collapsible_row-3-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824" role="region" aria-labelledby="Summary-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824-collapsible_row-3-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824">
                  <div class="rte">


                  <div id="item-details-pdp-2">
                    <div class="displayRow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="121" height="51" viewBox="0 0 121 51" fill="none">
              <path d="M101.747 22.2885C101.747 16.9876 97.3735 12.6377 92.0443 12.6377H76.4516C72.1882 12.6377 68.6857 16.1215 68.6857 20.3622C68.6857 31.0466 77.4882 39.8046 88.2321 39.8046H92.0931C97.3955 39.8046 101.747 35.4741 101.747 30.2023V22.2885ZM52.4418 20.3622C52.4418 16.1215 48.9394 12.6377 44.676 12.6377H29.0833C23.754 12.6377 19.3809 16.9876 19.3809 22.2885V30.1999C19.3809 35.4741 23.7345 39.8022 29.0345 39.8022H32.8955C43.637 39.8046 52.4418 31.0466 52.4418 20.3622Z" fill="#DBDBDB"/>
              <path d="M44.6759 12.6378C48.9393 12.6378 52.4417 16.1216 52.4417 20.3623C52.4417 31.0467 43.6393 39.8047 32.8954 39.8047H29.0344C23.732 39.8047 19.3808 35.4742 19.3808 30.2024V22.291C19.3808 16.9901 23.7539 12.6402 29.0832 12.6402H44.6759V12.6378ZM56.4954 19.3507C55.9759 13.3292 50.8588 8.56445 44.6759 8.56445H29.0832C22.9978 8.56445 17.8003 12.5359 15.9783 18.0018C15.5271 19.3531 15.2832 20.7942 15.2832 22.291V26.0078V30.2024C15.2832 37.7256 21.471 43.8805 29.0344 43.8805H32.8954C45.8978 43.8805 56.5393 33.298 56.5393 20.3623C56.5393 20.0203 56.5247 19.683 56.4954 19.3507Z" fill="#DBDBDB"/>
              <path d="M15.2833 22.2886C15.2833 20.7917 15.5272 19.3506 15.9784 17.9993H9.17354C8.46135 17.9993 7.88086 18.5792 7.88086 19.2851V24.7195C7.88086 25.4279 8.46379 26.0053 9.17354 26.0053H15.2833V22.2886ZM44.676 8.562C50.8565 8.562 55.9735 13.3292 56.4931 19.3482C57.8589 19.2196 59.215 19.1517 60.5614 19.142C61.9101 19.1493 63.2662 19.2196 64.6296 19.3458C65.1492 13.3243 70.2662 8.55957 76.4492 8.55957H60.5614H44.676V8.562Z" fill="#DBDBDB"/>
              <path d="M92.044 12.6383C97.3733 12.6383 101.746 16.9882 101.746 22.2891V30.2004C101.746 35.4747 97.3928 39.8028 92.0928 39.8028H88.2318C77.4903 39.8028 68.6854 31.0471 68.6854 20.3604C68.6854 16.1196 72.1879 12.6358 76.4513 12.6358H92.044V12.6383ZM92.044 8.5625H76.4513C70.2708 8.5625 65.1537 13.3297 64.6318 19.3487C64.6025 19.6835 64.5879 20.0207 64.5879 20.3604C64.5879 33.2937 75.2269 43.8785 88.2318 43.8785H92.0928C99.6562 43.8785 105.844 37.7236 105.844 30.2004V26.0058V22.2891C105.844 20.7922 105.6 19.3511 105.149 17.9998C103.327 12.5339 98.1293 8.5625 92.044 8.5625Z" fill="#DBDBDB"/>
              <path d="M105.148 18C105.6 19.3513 105.844 20.7924 105.844 22.2893V26.006H111.953C112.666 26.006 113.246 25.4261 113.246 24.7202V19.2858C113.246 18.5774 112.663 18 111.953 18H105.148Z" fill="#DBDBDB"/>
              <path d="M32.8952 45.0454H29.0343C20.805 45.0454 14.1123 38.3859 14.1123 30.2028V22.2915C14.1123 14.0817 20.8269 7.40039 29.083 7.40039H44.6757C51.8611 7.40039 57.7099 13.2156 57.7099 20.3652C57.7099 33.9729 46.5782 45.0454 32.8952 45.0454ZM29.083 9.72697C22.1196 9.72697 16.4538 15.3627 16.4538 22.2891V30.2004C16.4538 37.1001 22.0977 42.714 29.0343 42.714H32.8952C45.2855 42.714 55.3684 32.6871 55.3684 20.3604C55.3684 14.4966 50.5708 9.72455 44.6757 9.72455H29.083V9.72697ZM92.0928 45.0454H88.2318C74.5489 45.0454 63.4172 33.9729 63.4172 20.3652C63.4172 13.2181 69.2635 7.40039 76.4513 7.40039H92.044C100.298 7.40039 107.015 14.0793 107.015 22.2915V30.2028C107.015 38.3859 100.32 45.0454 92.0928 45.0454ZM76.4513 9.72697C70.5562 9.72697 65.7586 14.4966 65.7586 20.3628C65.7586 32.6871 75.8391 42.7164 88.2318 42.7164H92.0928C99.0294 42.7164 104.673 37.1025 104.673 30.2028V22.2915C104.673 15.3651 99.0074 9.7294 92.044 9.7294H76.4513V9.72697Z" fill="#333333"/>
              <path d="M36.3224 32.6049C36.12 32.6049 35.9151 32.554 35.7273 32.4424L29.7687 28.944C29.2126 28.6165 29.0273 27.9032 29.3565 27.3501C29.6858 26.7969 30.4029 26.6126 30.959 26.9401L36.9175 30.4384C37.4736 30.766 37.659 31.4792 37.3297 32.0324C37.1126 32.3987 36.7224 32.6049 36.3224 32.6049ZM43.3346 30.8873C43.1321 30.8873 42.9273 30.8363 42.7395 30.7247L27.8907 22.0079C27.3346 21.6804 27.1492 20.9671 27.4785 20.414C27.8078 19.8609 28.5248 19.6765 29.0809 20.004L43.9297 28.7208C44.4858 29.0483 44.6712 29.7616 44.3419 30.3147C44.1248 30.681 43.7346 30.8873 43.3346 30.8873Z" fill="#DBDBDB"/>
              <path d="M85.6266 32.6049C85.4242 32.6049 85.2193 32.554 85.0339 32.4424L79.0754 28.944C78.5193 28.6165 78.3339 27.9032 78.6632 27.3501C78.9925 26.7969 79.7095 26.6126 80.2656 26.9401L86.2242 30.4384C86.7803 30.766 86.9656 31.4792 86.6364 32.0324C86.4168 32.3987 86.0266 32.6049 85.6266 32.6049ZM92.6388 30.8873C92.4363 30.8873 92.2315 30.8363 92.0461 30.7247L77.1973 22.0079C76.6412 21.6804 76.4559 20.9671 76.7851 20.414C77.1144 19.8609 77.8315 19.6765 78.3876 20.004L93.2364 28.7208C93.7924 29.0483 93.9778 29.7616 93.6485 30.3147C93.429 30.681 93.0388 30.8873 92.6388 30.8873Z" fill="#DBDBDB"/>
            </svg>
                  <span class="productDetailsHeading">PRODUCT DIMENSIONS</span>
                </div>
                    <hr class="pxBLackLine">
                  <div class="displayColumn">
                    {% if product.metafields.custom.bridge_width != blank %}
                        
                        <div class="displayRow mbt-8">
                            <span class="productDetailsProperty">BRIDGE WIDTH: </span>
                            <span class="productDetailsValue">{{ product.metafields.custom.bridge_width }}</span>
                        </div>
                    {% endif %}
                    {% if product.metafields.custom.lens_width != blank %}
                    
                <div class="displayRow mbt-8">
                 <span class="productDetailsProperty">LENS WIDTH: </span>
                        <span class="productDetailsValue">{{ product.metafields.custom.lens_width }}</span>
                </div>
            {% endif %}
            {% if product.metafields.custom.arm_length != blank %}
            
                <div class="displayRow mbt-8">
                 <span class="productDetailsProperty">ARM LENGTH: </span>
                        <span class="productDetailsValue">{{ product.metafields.custom.arm_length }}</span>
                </div>
            {% endif %}
            {%- comment -%}
              
              <div class="displayRow mbt-8">
                <span class="productDetailsProperty">HINGE TO HINGE: </span>
                <span class="productDetailsValue">test</span>
              </div>
            {%- endcomment -%}
                  </div>
                  </div>

                        
                        <div class="angry-grid-fit-guide">
                          <div id="item-fit-guide-0">
                            <span class="fit-guide-text">
                            The Aviator Medium boasts a lightweight metal
                            frame complemented by acetate temple tips,
                            ensuring both style and comfort. With its
                            standard dimensionalfit, adjustable nose pads,
                            and generous lens coverage, it promises an
                            impeccable and secure fit for everyday wear.
                        </span>
                          </div>
                          <div id="item-fit-guide-1">
                          <img lazyload class="fit-guide-image-img" src="https://cdn.shopify.com/s/files/1/0837/7679/9012/files/SKETCH.png?v=1698085392">
                          </div>
                          <div id="item-fit-guide-2">
                            <div class="angry-grid-four-fit">
                            <div id="item-0-four-fit" class="dropdown-metafields-wrapper">
                                <span class="span-metafields  dropdown-metafield-header font-body-bold">A. BRIDGE WIDTH - {{ product.metafields.custom.bridge_width }}</span>
                                <span class="span-metafields  dropdown-metafield-header font-body-bold"></span>
                                </div>  
                            <div id="item-1-four-fit" class="dropdown-metafields-wrapper">
                                <span class="span-metafields  dropdown-metafield-header font-body-bold">B. LENS WIDTH - {{ product.metafields.custom.lens_width }}</span>
                                <span class="span-metafields  dropdown-metafield-header font-body-bold"></span>
                                </div>  
                                <div id="item-2-four-fit" class="dropdown-metafields-wrapper">
                                    <span class="span-metafields  dropdown-metafield-header font-body-bold">C. TEMPLE LENGTH - {{ product.metafields.custom.temple_length }}</span>
                                    <span class="span-metafields  dropdown-metafield-header font-body-bold"></span>
                                    </div>  
                                    <div id="item-3-four-fit" class="dropdown-metafields-wrapper">
                                        <span class="span-metafields  dropdown-metafield-header font-body-bold">D. HINGE TO HINGE - {{ product.metafields.custom.hinge }}</span>
                                        <span class="span-metafields  dropdown-metafield-header font-body-bold"></span>
                                        </div>  
                                        </div>
                          </div>
                          <div id="item-fit-guide-3">
                            <video id="fit-guide-video" controls autoplay loop muted>
                                <source src="https://www.w3schools.com/tags/mov_bbb.mp4" type="video/mp4">
                                Your browser does not support HTML5 video.
                              </video> 
                          </div>
                        </div>
                        
                        
                    
                  </div>  
                </div>
              </details>
            </details-accordion>
       {%- if  variant.metafields.custom.fit_description_long != blank -%}
            
            <details-accordion  class="accordion db collapsible-content__item lens_description">
              <details id="lens_description_details" class="details-metafield" id="Details-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824-collapsible_row-4-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824">
                <summary class="summary-accordion summary-accordion--has-hover flex justify-space-between align-center por" role="button" aria-expanded="false" aria-controls="CollapsibleAccordion-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824-collapsible_row-4-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824">
                  <div class="summary__title flex align-center flex-grow-1">
                    
                    <h2 class="h6 accordion__title font-heading-bold margin0">
                      LENS DESCRIPTION
                    </h2>
                  </div>
             <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon-caret light">
                    <path d="M12.6667 6L8 10.6667L3.33333 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </summary>
                
                <div class="accordion__content accordion__content--no-icon accordion__content--empty" id="CollapsibleAccordion-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824-collapsible_row-4-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824" role="region" aria-labelledby="Summary-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824-collapsible_row-4-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824">
                  <div class="rte">
                    <div class="angry-grid-lens-description">
                        <div id="item-0-lens-description">
                            <h2 class="dropdowns-header-item">{{ product.title }} LENS INFORMATION</h2>
                        </div>
                        <div id="item-1-lens-description">
                          {% for variant in product.variants %}
                            <div 
                              class="variant__description "
                              data-variant-id="{{variant.id}}"
                              {% if product.selected_or_first_available_variant.id == variant.id %}
                                style="display: block;"
                              {% endif %}
                            >


                      <span>      

                                {{ variant.metafields.custom.fit_description_long  }}
                              </span>
                            </div>
                            {% endfor %}
                        </div>
                        <div id="item-2-lens-description">
                          {%- comment -%}
                            
                            <img src="https://cdn.shopify.com/s/files/1/0837/7679/9012/files/Screenshot_1.png?v=1698085392" class="lens-information-image">
                          {%- endcomment -%}
                        </div>
                      </div>
                  </div>  
                </div>
              </details>
            </details-accordion>
          {%- endif -%}
            {%- if  variant.metafields.custom.lens_technology_long != blank -%}
              
            <details-accordion class="accordion db collapsible-content__item lens_tech_long">
              <details class="details-metafield" id="Details-22f02c17-4651-49b4-b13c-c889a238c968-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824">
                <summary class="summary-accordion summary-accordion--has-hover flex justify-space-between align-center por" role="button" aria-expanded="false" aria-controls="CollapsibleAccordion-22f02c17-4651-49b4-b13c-c889a238c968-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824">
                  <div class="summary__title flex align-center flex-grow-1">
                    
                    <h2 class="h6 accordion__title font-heading-bold margin0">
                      LENS TECHNOLOGY
                    </h2>
                  </div>
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon-caret light">
                    <path d="M12.6667 6L8 10.6667L3.33333 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </summary>
                <div class="accordion__content accordion__content--no-icon accordion__content--empty" id="CollapsibleAccordion-22f02c17-4651-49b4-b13c-c889a238c968-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824" role="region" aria-labelledby="Summary-22f02c17-4651-49b4-b13c-c889a238c968-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824">
                  <div class="rte">
                    
                    <div class="angry-grid-lens-technology">
                        <div id="item-0-lens-technology">
                            <h2 class="dropdowns-header-item">{{product.title }} LENS TECHNOLOGY</h2>
                        </div>
                        <div id="item-1-lens-technology">
                        <span>
{{ variant.metafields.custom.lens_technology_long }}
                        </span>
                        </div>
                      </div>
                  </div>  
                </div>
              </details>
            </details-accordion>  
          {%- endif -%}
            
            <details-accordion class="accordion db collapsible-content__item">
              <details class="details-metafield" id="Details-0489008a-3640-46d4-8a38-1308d49bbde4-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824">
                <summary class="summary-accordion summary-accordion--has-hover flex justify-space-between align-center por" role="button" aria-expanded="false" aria-controls="CollapsibleAccordion-0489008a-3640-46d4-8a38-1308d49bbde4-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824">
                  <div class="summary__title flex align-center flex-grow-1">
                    
                    <h2 class="h6 accordion__title font-heading-bold margin0">
                      INCLUDED IN ALL ORDERS
                    </h2>
                  </div>
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon-caret light">
                    <path d="M12.6667 6L8 10.6667L3.33333 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </summary>
                <div class="accordion__content accordion__content--no-icon accordion__content--empty" id="CollapsibleAccordion-0489008a-3640-46d4-8a38-1308d49bbde4-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824" role="region" aria-labelledby="Summary-0489008a-3640-46d4-8a38-1308d49bbde4-template--21359381938468__d77e951c-7d3e-4f3c-9c97-c1473848d824">
                  <div class="rte">
                      <img src="https://cdn.shopify.com/s/files/1/0837/7679/9012/files/INCLUDED.png?v=1700593481">
                </div>
              </details>
            </details-accordion>
        </div>
    {% endfor %}
        
        </div>
        </div>
    </div>
</div>
</div>


</section>

<style>

    /*PRODUCT DETAILS*/
    #item-details-0, #item-details-1 {
        text-align: center;
    }

    #item-details-2, #item-details-3 {
     padding: 20px;
    }
    .angry-grid-product-information {
       display: grid; 
       grid-template-rows: 1fr 1fr 1fr;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       
       gap: 0px;
       height: 100%;
       
    }
      
    #item-details-0 {
       grid-row-start: 1;
       grid-column-start: 1;
       grid-row-end: 2;
       grid-column-end: 3;
       
    }
    #item-details-1 {
       grid-row-start: 1;
       grid-column-start: 3;
       grid-row-end: 2;
       grid-column-end: 5;
        
    }
    #item-details-2 {
    
       grid-row-start: 2;
       grid-column-start: 1;
       grid-row-end: 4;
       grid-column-end: 3;
       border-right: 0.25rem solid rgb(18,18,18,.06);
    }
    #item-details-3 {
    
       grid-row-start: 2;
       grid-column-start: 3;
       grid-row-end: 4;
       grid-column-end: 5;
       border-left: 0.25rem solid rgb(18,18,18,.06);
       text-align: right;
    }
    </style>

    <style>
        /*FIT GUIDE*/

        .angry-grid-four-fit {
          display: grid; 
          align-items: center;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
          
          gap: 20px;
          height: 100%;
          
       }
         
       #item-0-four-fit {
       
          grid-row-start: 1;
          grid-column-start: 1;
       
          grid-row-end: 2;
          grid-column-end: 2;
          
       }
       #item-1-four-fit {
       
          grid-row-start: 1;
          grid-column-start: 2;
       
          grid-row-end: 2;
          grid-column-end: 3;
          
       }
       #item-2-four-fit {
       
          grid-row-start: 2;
          grid-column-start: 1;
       
          grid-row-end: 3;
          grid-column-end: 2;
          
       }
       #item-3-four-fit {
       
          grid-row-start: 2;
          grid-column-start: 2;
       
          grid-row-end: 3;
          grid-column-end: 3;
          
       }
       #item-0-four-fit, #item-1-four-fit, #item-2-four-fit, #item-3-four-fit {
           display: flex;
           justify-content: center;
           flex-direction: column;
           align-items: center;
           min-width: 14vw;
       }
        
        .fit-guide-image-img {
            min-height: 20vh;
            object-fit: contain;
        }
        #fit-guide-video {
            min-height: 27vh;
        }
        #item-fit-guide-0, #item-fit-guide-1, #item-fit-guide-2, #item-fit-guide-3 {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            
        }
        .angry-grid-fit-guide {
           display: grid; 
            margin-top: 30px;
           grid-template-rows: 1fr 1fr 1fr 1fr;
           grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
           
           gap: 0px;
           height: 100%;
           
        }
          
        #item-fit-guide-0 {
           grid-row-start: 1;
           grid-column-start: 1;
           grid-row-end: 3;
           grid-column-end: 5;
           
        }
        #item-fit-guide-1 {
        
           grid-row-start: 3;
           grid-column-start: 1;
           grid-row-end: 5;
           grid-column-end: 5;
        }
        #item-fit-guide-2 {
        
           grid-row-start: 3;
           grid-column-start: 5;
           display: flex;
           flex-direction: column;
           grid-row-end: 5;
           grid-column-end: 8;
        }
        #item-fit-guide-3 {
        
           grid-row-start: 1;
           grid-column-start: 5;
           grid-row-end: 3;
           grid-column-end: 8;
        }

        #item-fit-guide-3, #item-fit-guide-2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto;
        }
/* LENS DESCRIPTION */
            .angry-grid-lens-description {
               display: grid; 
            
               grid-template-rows: 1fr 1fr 1fr;
               grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
               
               gap: 0px;
               height: 100%;
               
            }
              
            #item-0-lens-description {
               grid-row-start: 1;
               grid-column-start: 1;
            
               grid-row-end: 2;
               grid-column-end: 5;
               
            }
            #item-1-lens-description {
               grid-row-start: 2;
               grid-column-start: 1;
            
               grid-row-end: 4;
               grid-column-end: 5;
               
            }
            #item-2-lens-description {
               grid-row-start: 1;
               grid-column-start: 5;
            
               grid-row-end: 4;
               grid-column-end: 7;
               display: flex;
                justify-content: center;
                align-items: center;
            }

            .lens-information-image {
            max-width: 20vw;
            }


/* LENS TECHNOLOGY*/
.angry-grid-lens-technology {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 100%;
    
 }
   
 #item-0-lens-technology {
 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 6;
    
 }
 #item-1-lens-technology {
 
    grid-row-start: 2;
    grid-column-start: 1;
 
    grid-row-end: 4;
    grid-column-end: 6;
    
 }

 .column-icons {
    display: grid; 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    height: 100%;
    place-items: center;
    margin-top: 30px;
  }

 
   
 #item-0-column {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
  
    
 }
 #item-1-column {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
  
 }


 @media screen and (max-width: 750px) {
    .dropdown-metafield-header {
        font-size: 1em !important;   
    }
    .dropdown-metafields-detail {
    font-size: 0.6em !important;
   }
   #item-details-2, #item-details-3 {
    padding: 0px 20px;
    text-align: left;
   }
   .angry-grid-fit-guide {
    display: flex;
    flex-direction: column;
}
#fit-guide-video {
    min-height: 0vh;
}
#item-fit-guide-3 {
margin: 0 auto;
padding: 10px 0px;
}
.fit-guide-img {
    max-width: 81%;
    object-fit: contain;
}
#item-1-lens-description, #item-1-lens-technology {
    grid-row-start: 1;
    margin-top: 15vh;
}
.column-icons {
gap:10px;
}
#item-fit-guide-3, #item-fit-guide-2 {
display: grid;
}

.fit-guide-image-img {
margin-bottom: 15px;
}
#item-details-0, #item-details-1 {

margin-top: 15px;

}

.angry-grid-product-information {
  margin-bottom: 20px;
}


 }
            </style>

<script>
    // Get all elements with the class "details"
const detailsElements = document.querySelectorAll(".details-metafield");

// Loop through each details element and set the "open" attribute to true
detailsElements.forEach(function (detailsElement) {
  detailsElement.open = true;
});
</script>

<style>
  .item-1-lens-technology:empty {
    display: none;
  }
</style>
{% schema %}
  {
  "name": "Details Metafield",
  "settings": [],
  "presets": [
    {
      "name": "Details Metafield"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}