<style>
#shopify-section-{{ section.id }} .banners {
  color: #fe0000;
  font-weight: bold;
  padding: 12px 0;
  background-color: #d4d5d6;
  border-bottom: 3px black solid;
  font-size: 17px;
}

/* #shopify-section-{{ section.id }} .banners:before,
#shopify-section-{{ section.id }} .banners:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
} */

/* #shopify-section-{{ section.id }} .banners:before {
  left: 0;
}

#shopify-section-{{ section.id }} .banners:after {
  right: 0;
} */

/* 
uncomment for stop-on-hover
.banners:hover .banners-slide {
  animation-play-state: paused;
}
*/

#shopify-section-{{ section.id }} .banners-slide div {
  padding: 0 10px;
}

#shopify-section-{{ section.id }} .banners-slide > * {
  border-right: 3px #fe0000 solid;
}

#shopify-section-{{ section.id }} .banners-slide > *:last-child {
  border-right: unset
}

@media (min-width: 750px) {
  #shopify-section-{{ section.id }} .banners-slide {
    display: flex;
    justify-content: center;
  }

  #shopify-section-{{ section.id }} .banner {
    text-align: center;
  }
}

@media (max-width: 749px) {

  #shopify-section-{{ section.id }} .banners {
    white-space: nowrap;
  }

  #shopify-section-{{ section.id }} .banners-slide > *:first-child {
    border-left: 3px #fe0000 solid;
  }

  #shopify-section-{{ section.id }} .banners-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }

  #shopify-section-{{ section.id }} .banners-slide div {
    display: inline-block;
  }

  #shopify-section-{{ section.id }} .banners {
    overflow: hidden;
    position: relative;
  }
}
</style>

<section class="shopify-section section section-banner-carousel banners">
  <div class="banners-slide">
  {% for block in section.blocks %}
    {%- if block.settings.text != blank -%}
      <div class="banner">{{ block.settings.text }}</div>
    {%- endif -%}
  {% endfor %}
  </div>
</section>

<script>
  if (matchMedia('(max-width: 749px)').matches) {
    const copy = document.querySelector(".banners-slide").cloneNode(true);
    document.querySelector(".banners").appendChild(copy);
  }
</script>


{% schema %}
{
  "name": "Top banner",
  "presets": [
  {
   "name":"Top banner"
  }
  ],
  "settings": [
		{
      "type": "range",
      "id": "padding-top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "default": 0
    }
  ],
  "blocks": [
     {
       "name": "Banner",
       "type": "banner",
       "settings": [
         {
           "type": "text",
           "id": "text",
           "label": "Banner"
         }
       ]
     }
   ]
}
{% endschema %}